/*CSS Reset Rule*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar-color{
	background-color: #765C3D !important;
	color: #F2D2AE !important;
}

#landing{
		background: linear-gradient(

	        rgba(0, 0, 0, 0.59),
	        rgba(0, 0, 0, 0.59)
	        ),

		    url("./images/landing-image.png");
		    background-repeat: no-repeat;
		    background-size: cover;
	    ;

	    z-index: -1;
	    color: #FFFFFF;
}

#title{
	font-family: Montserrat !important;
	font-weight: 600 !important;
	font-size: 64px !important;
}

#short-description{
	font-family: 'Montserrat' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 24px !important;
	line-height: 30px !important;
	color: #FFFFFF;
}

#started {
	    color: white;
	    background-color: #B59066;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    border: none;
	    font-size: 20px;
	    font-weight: 600;
	    font-family: Montserrat;
}


/*End of mbr1*/

/*start of mbr2*/

#about {
	line-height: normal;
	letter-spacing: 0;
	color: #765C3D;
}

#greeting{
	color: #765C3D;
	font-size: 40px !important;
	font-weight: 600;
	font-family: Montserrat !important;
}

#about-description{
	color: #765C3D;
	font-weight: 400;
	font-size: 24px;
	font-family: Montserrat !important;
}


.section-title{
	font-weight: bold !important;
}

/*end  of mbr2*/

/* Start of Mbr3 */
#gallery-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

#album-title-1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

#album-des-1 {
	font-family: "Montserrat", sans-serif;
}

#album-title-2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

#album-des-2 {
	font-family: "Montserrat", sans-serif;
}

#album-title-3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

#album-des-3 {
	font-family: "Montserrat", sans-serif;
}

#gallery-desc {
	font-family: "Montserrat", sans-serif;
}

.carousel img {
    width: 75% !important; /* Forces uniform width */
    margin: auto;
    border-radius: 10px; 
}

.carousel-control-prev, .carousel-control-next {
    width: 10%; /* Adjust button width */
    opacity: 0.9; /* Make them slightly transparent */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 1; /* Full visibility on hover */
}

.carousel-control-prev {
    left: 10%; /* Position inside the image */
}

.carousel-control-next {
    right: 10%; /* Position inside the image */
}

/* End of Mbr3 */


/*member 4*/
/*start CSS*/
.heading-tools {
	font-weight: bold;
	color: #6D4C1E; 
	font-size: 20px;
}

#tools > div > div > img {
	width: 90px;
	height: 90px;
}
/*member 4 end CSS*/


/*mbr 5*/
#contact{
	background-color: #FFF2E4;
}

#contact-title{
	color: #765C3D !important;
	font-family: Montserrat !important;
	font-weight: 600;
	font-size: 40px;

}

#contact-description{
	color: #765C3D !important;
	font-family: Montserrat !important;
	font-weight: 400;
	font-size: 24px;
}



#label-name{
	color: #B59066 !important;
	font-family: 'Montserrat' !important;
	font-weight: 600;
	font-size: 20px;
}

#input-name{
	border: 2px solid #B59066 !important;
	font-family: 'Montserrat' !important;
	color: #765C3D !important;
	font-weight: 600;
	font-size: 24px;
}


#label-email{
	color: #B59066 !important;
	font-family: 'Montserrat' !important;
	font-weight: 600;
	font-size: 20px;

}

#input-email{
	border: 2px solid #B59066 !important;
	font-family: 'Montserrat' !important;
	color: #765C3D !important;
	font-weight: 600;
	font-size: 24px;
}

#label-message{
	color: #B59066 !important;
	font-family: 'Montserrat' !important;
	font-weight: 600;
	font-size: 20px;

}


#input-message{
	border: 2px solid #B59066 !important;
	font-family: 'Montserrat' !important;
	color: #765C3D !important;
	font-weight: 600;
	font-size: 24px;
}


#contact-button{
  background-color: #B59066; 
  color: #FFFFFF;              
  border: none;             
  padding: 0.5rem 1.2rem;   
  border-radius: 999px;     
  cursor: pointer;          
  font-size: 20px;          
  transition: background-color 0.3s ease;
  font-family: Montserrat !important;
  font-weight: 600 !important;
}

#footer{
	color: #FFF2E4 !important;
	font-family: 'Montserrat';
	background-color: #B59066 !important;
	font-weight: 500;
	font-size: 16px;
}

#footer > div > p{
	color: #FFF2E4 !important;
}

